*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
readme_assets/cloud-banner.png filter=lfs diff=lfs merge=lfs -text
readme_assets/demo.gif filter=lfs diff=lfs merge=lfs -text
readme_assets/images/change-theme.png filter=lfs diff=lfs merge=lfs -text
readme_assets/images/export-presentation.png filter=lfs diff=lfs merge=lfs -text
readme_assets/images/present.png filter=lfs diff=lfs merge=lfs -text
readme_assets/images/presenton-logo.png filter=lfs diff=lfs merge=lfs -text
readme_assets/mcpdemo.gif filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/fastapi.db filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-7gC6DthTO648jLj00PvtTbCv.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-81R0Segoro6g9WwDGG6n5faY.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-EDBVZv5v47AFxQGE12iiulsM.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-gLIBxSw5s3SuRv7hhXrbF7GA.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-gWPsE5WAFIMcAkrdOGLJp5D0.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-H9DEgEgVItEftSzheuWkO1Xk.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-inakyPLnqxROgAuMFKdBODaT.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-Mn0hAiFy3WYuM6tv0HVCspSc.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-PCxEBgsWToLtTqVexARDjA1G.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-Qj8IDsErn6wNtDRgkM7famfJ.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-REI0hSOVBUnFWmcxx41qra7y.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-rQobNPLpShaiQL5qSYKgURmk.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-SCxbeT6VdDiAmRESBa0haSsS.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-tBxgpO0dKP1BMpZ5odIb2rIC.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-U23mlMMY65ikud3owKPkS3yX.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-Up1KHVXVtoxSQc2ZNViglfm6.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-yEgGFuQHLslpT2sJHbdubr6v.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-z5CHRVzRgmySVXa1dFuC5aKW.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-ZAWutb1c8omaTVYivANL1I0J.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-ZUSsgWDMajA3O0aK4kqxTZ4D.png filter=lfs diff=lfs merge=lfs -text
servers/fastapi/app_data/images/img-ZVUt2wCq7Vo3t5dUVCJrfq1M.png filter=lfs diff=lfs merge=lfs -text
servers/nextjs/app/fonts/Inter.ttf filter=lfs diff=lfs merge=lfs -text
servers/nextjs/app_data/exports/[[:space:]]Distribution[[:space:]]of[[:space:]]Employment[[:space:]]Cases[[:space:]]by[[:space:]]Continent[[:space:]][[:space:]]The[[:space:]]dataset[[:space:]]reveals[[:space:]]a[[:space:]]strong[[:space:]]geographic[[:space:]]skew[[:space:]]in[[:space:]]e.pdf filter=lfs diff=lfs merge=lfs -text
servers/nextjs/public/loading.gif filter=lfs diff=lfs merge=lfs -text
